# Python 3.9+
# NOTE: For GPU builds, install PyTorch first from https://pytorch.org/get-started/locally/
# (then run: pip install -r requirements.txt)

numpy
scipy
Pillow
pycocotools
torch
torchvision
activeft
open-clip-torch (git+https://github.com/openai/CLIP.git)

